<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%5p] %d %t (%c{10}) - %m%n" />
		</Console>
		
		<!-- 按天第天备份一个日志 -->
        <RollingFile name="WorkFile" filePattern="logs/logic_server.%d{yyyyMMdd_HH}_%i.log">
            <PatternLayout pattern="[%5p] %d %t (%c{10}) - %m%n" />
            <Policies>
                <!-- 每24小时更新一次 
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
                <SizeBasedTriggeringPolicy size="128KB" />
                -->
            </Policies>
            <!-- 最多备份10个 
            <DefaultRolloverStrategy max="10" />
            -->
        </RollingFile>
	</Appenders>
	<Loggers>
		<logger name="org.apache.ignite" level="INFO"></logger>
		<logger name="org.apache.ignite.spi.discovery" level="WARN"></logger>
		
		<logger name="org.apache.zookeeper" level="INFO"></logger>
	
		<Root level="DEBUG">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>