<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%5p] %d %t (%c{10}) - %m%n" />
		</Console>

		<!-- 按天第天备份一个日志 -->
		<RollingFile name="WorkFile" fileName="logs/client_server.log"
			filePattern="logs/client_server.%d{yyyyMMdd_HHmm}_%i.log">
			<PatternLayout pattern="[%5p] %d %t (%c{10}) - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<logger name="org.apache.ignite" level="INFO"></logger>
		<logger name="org.apache.ignite.spi.discovery" level="WARN"></logger>
		<logger name="org.apache.zookeeper" level="INFO"></logger>

		<Root level="all">
			<AppenderRef ref="WorkFile" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>